<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/checkout.css">
    <link rel="icon shortcut" href="../storage/img/inveto.svg">
    <title>Content</title>
</head>
<body>

    <header class="header">
        <div class="header__icon">
            <img src="../storage/img/inveto.svg">
            <strong>INVENTO</strong>
        </div>
        <img src="../storage/img/menuLineWhite.svg">
    </header>
    
    <main class="main"> 

        <section class="main__section">
            <article class="circle__content">
                <h3>Total</h3>
                <h3>Balance</h3>
                <p>$<strong>214,417</strong></p>
            </article>
        </section>

        <section class="second__section">
            <article class="second__article">
                <div class="content__article_1">
                    <span>Assets</span>
                </div>
                <div class="content__article_2">
                    <span>Debt</span>
                </div>
                <div class="content__article_3">
                    <span>Income</span>
                </div>
            </article>
            <img src="../storage/img/grafic.svg">




            <article class="third__article">
                <img class="asd" src="../storage/img/xGreen.svg">
                <img class="cardasd" src="../storage/img/CreditcardBlue.svg">
                <div class="content__ad">
                    <div class="exit__article">
                        <!-- <img src="../storage/img/xGreen.svg"> -->
                    </div>
                    <h4>Spending.</h4>
                    <p>You forgot to add debt card number at payment #1323. Add it now.</p>
                </div>
            </article>

            
        </section>
    </main>


    <footer class="footer">
        <ul class="footer__ul">
            <li>
                <a href="#">
                    <img src="../storage/img/homeWhite.svg">
                </a>
            </li>
            <li>
                <a href="checkout.html">
                    <img src="../storage/img/contentSelect.svg">
                </a>
            </li>
            <li>
                <a href="detail.html">
                    <img src="../storage/img/menuWhite.svg">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../storage/img/messageWhite.svg">
                </a>
            </li>
            <li>
                <a href="../index.html">
                    <img src="../storage/img/centerWhite.svg">
                </a>
            </li>
        </ul>
    </footer>
</body>
</html>