<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/detail.css">
    <link rel="icon shortcut" href="../storage/img/walletIconWhite.svg">
    <script src="../scripts/script.js"></script>
    <title>eWallet</title>
</head>
<body>
    <header class="header">
        <div class="header__icon">
            <img src="../storage/img/walletIconCustom.svg">
            <strong>eWallet</strong>
        </div>
        <img src="../storage/img/menuLine.svg">
    </header>


    <main class="main">


        <section class="section__main">
            <h3>Investing Tips</h3>
            <!-- <article class="main_article">
                <div class="img__article">
                    <img src="../storage/img/PigComplete.svg">
                </div>
                <div class="exit__article">
                    <img src="../storage/img/xGreen.svg" width="20px" height="20px">
                </div>
                <div class="content__article">
                    <h3>What is an ETF?</h3>
                    <span>By James B, PHD</span>
                    <button>LEARN MORE</button>
                </div>
            </article> -->
            <div class="carousel">
            <article class="main_article">
                <div class="img__article">
                    <img src="../storage/img/PigComplete.svg">
                </div>
                <div class="exit__article">
                    <img src="../storage/img/xGreen.svg" width="20px" height="20px">
                </div>
                <div class="content__article">
                    <h3>What is an ETF?</h3>
                    <span>By James B, PHD</span>
                    <button>LEARN MORE</button>
                </div>
            </article>

            <article class="main_article">
                <div class="img__article">
                    <img src="../storage/img/investing.png">
                </div>
                <div class="exit__article">
                    <img src="../storage/img/xGreen.svg" width="20px" height="20px">
                </div>
                <div class="content__article">
                    <h3>What is value investing?</h3>
                    <span>By Cris D, PHB</span>
                    <button>LEARN MORE</button>
                </div>
            </article>


            <article class="main_article">
                <div class="img__article">
                    <img src="../storage/img/eyeTips.svg">
                </div>
                <div class="exit__article">
                    <img src="../storage/img/xGreen.svg" width="20px" height="20px">
                </div>
                <div class="content__article">
                    <h3>How predict movements?</h3>
                    <span>By Juan F, XVD</span>
                    <button>LEARN MORE</button>
                </div>
            </article>


            </div>
            <h3>My Cards (4)</h3>
        </section>

        <section class="section__2">
            <article class="article__cards">
                <div class="chip__number__card">
                    <img src="../storage/img/ship.svg">
                    <span>**** 6175</span>
                </div>
                <div class="money__card">
                    <strong>$</strong><h3>47,417</h3>
                </div>
                <div class="icon__card">
                    <img src="../storage/img/iconCard.svg">
                </div>
            </article>


            <article class="article__cards_1">
                <div class="chip__number__card">
                    <img src="../storage/img/ship.svg">
                    <span>**** 5789</span>
                </div>
                <div class="money__card">
                    <strong>$</strong><h3>584,466</h3>
                </div>
                <div class="icon__card">
                    <img src="../storage/img/iconScotiabanck.png" style="filter: invert(1);">
                </div>
            </article>


            <article class="article__cards_2">
                <div class="chip__number__card">
                    <img src="../storage/img/ship.svg">
                    <span>**** 5920</span>
                </div>
                <div class="money__card">
                    <strong>$</strong><h3>1.584,466</h3>
                </div>
                <div class="icon__card">
                    <img src="../storage/img/visa.svg">
                </div>
            </article>


            <article class="article__cards_3">
                <div class="chip__number__card">
                    <img src="../storage/img/ship.svg">
                    <span>**** 9725</span>
                </div>
                <div class="money__card">
                    <strong>$</strong><h3>184,466</h3>
                </div>
                <div class="icon__card">
                    <img src="../storage/img/iconBancolombia.png" style="filter: invert(1);">
                </div>
            </article>


        </section>


    </main>


    <footer class="footer">
        <ul class="footer__ul">
            <li>
                <a href="#">
                    <img src="../storage/img/homeWhite.svg">
                </a>
            </li>
            <li>
                <a href="checkout.html">
                    <img src="../storage/img/contentWhite.svg">
                </a>
            </li>
            <li>
                <a href="detail.html">
                    <img src="../storage/img/menuSelect.svg">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../storage/img/messageWhite.svg">
                </a>
            </li>
            <li>
                <a href="../index.html">
                    <img src="../storage/img/centerWhite.svg">
                </a>
            </li>
        </ul>
    </footer>
</body>
</html>